# Assign Application Year for Non-Applicants
Using distribution of applicants, I randomly assign year of application for non-applicants

In [1]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (11, 5)  #set default figure size
import numpy as np
from numpy import exp
from scipy.special import factorial
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import statsmodels.api as sm
from statsmodels.api import Poisson
from scipy.stats import norm
from statsmodels.iolib.summary2 import summary_col

In [2]:
# Load Datasets
sakernas = pd.read_csv('/Users/shafiranw/Documents/PhD/Dissertation/code_data/data/032425_sakernas_wagesim.csv')
sakernas.head()

,id,age,age2,male,married,educ,hhsize,village,disability,employ,...,pk_inc_capital,pk_inc_debt,pk_inc_transport,pk_inc_internet,pk_inc_train,pk_inc_other,age_before,age2_before,ln_wage_before,wage_before
0,1,65,4225,0,1,6,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,65,4225,0,1,6,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,31,961,1,0,12,2,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,28,784,1,0,16,2,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,40,1600,1,1,12,2,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Count distribution of applicants by year
accept_year_counts = sakernas["pk_accept_year"].value_counts(normalize=True).sort_index()
print(accept_year_counts)

pk_accept_year
1.0    0.380139
2.0    0.361099
3.0    0.224784
4.0    0.033978
Name: proportion, dtype: float64

In [7]:
# Assign hypothetical application year to non-applicants
sakernas.loc[sakernas["pk_apply"]==0, "hyp_pk_app_year"] = np.random.choice(
    accept_year_counts.index, size=(sakernas["pk_apply"]==0).sum(), p=accept_year_counts.values
)
print(sakernas.head(30))

    id  age  age2  male  married  educ  hhsize  village  disability  employ  \
0    1   65  4225     0        1     6       2        0           0       0
1    2   65  4225     0        1     6       2        0           0       0
2    3   31   961     1        0    12       2        0           0       1
3    4   28   784     1        0    16       2        0           0       1
4    5   40  1600     1        1    12       2        0           0       1
5    6   40  1600     0        1     6       2        0           0       0
6    7   35  1225     1        1    12       3        0           0       1
7    8   30   900     0        1     9       3        0           0       0
8    9   48  2304     1        1     9       3        0           0       1
9   10   35  1225     0        1     6       3        0           0       0
10  11   59  3481     1        1     9       3        0           0       1
11  12   56  3136     0        1     9       3        0           0       1
12  13   36  1296     1        1    12       3        0           0       1
13  14   31   961     0        1    16       3        0           0       0
14  15   39  1521     1        1     6       3        0           0       1
15  16   38  1444     0        1    12       3        0           0       0
16  17   59  3481     1        1     0       3        0           0       1
17  18   41  1681     0        1     6       3        0           0       0
18  19   55  3025     0        0     6       2        0           0       1
19  20   32  1024     1        1    12       3        0           0       1
20  21   29   841     0        1    12       3        0           0       0
21  22   44  1936     1        1     9       4        0           0       1
22  23   38  1444     0        1     6       4        0           0       1
23  24   39  1521     1        1     6       5        0           0       1
24  25   37  1369     0        1    12       5        0           0       1
25  26   53  2809     1        1     6       2        0           0       1
26  27   48  2304     0        1     6       2        0           0       0
27  28   37  1369     1        1    16       3        0           0       1
28  29   38  1444     0        1    16       3        0           0       1
29  30   55  3025     1        1     9       2        0           0       1

    ...  pk_inc_debt  pk_inc_transport  pk_inc_internet  pk_inc_train  \
0   ...          NaN               NaN              NaN           NaN
1   ...          NaN               NaN              NaN           NaN
2   ...          NaN               NaN              NaN           NaN
3   ...          NaN               NaN              NaN           NaN
4   ...          NaN               NaN              NaN           NaN
5   ...          NaN               NaN              NaN           NaN
6   ...          NaN               NaN              NaN           NaN
7   ...          NaN               NaN              NaN           NaN
8   ...          NaN               NaN              NaN           NaN
9   ...          NaN               NaN              NaN           NaN
10  ...          NaN               NaN              NaN           NaN
11  ...          NaN               NaN              NaN           NaN
12  ...          NaN               NaN              NaN           NaN
13  ...          NaN               NaN              NaN           NaN
14  ...          NaN               NaN              NaN           NaN
15  ...          NaN               NaN              NaN           NaN
16  ...          NaN               NaN              NaN           NaN
17  ...          NaN               NaN              NaN           NaN
18  ...          NaN               NaN              NaN           NaN
19  ...          NaN               NaN              NaN           NaN
20  ...          NaN               NaN              NaN           NaN
21  ...          NaN               NaN              NaN           NaN
22  ...          NaN               NaN              NaN           NaN
23  ...          NaN               NaN              NaN           NaN
24  ...          NaN               NaN              NaN           NaN
25  ...          NaN               NaN              NaN           NaN
26  ...          NaN               NaN              NaN           NaN
27  ...          NaN               NaN              NaN           NaN
28  ...          NaN               NaN              NaN           NaN
29  ...          NaN               NaN              NaN           NaN

    pk_inc_other  age_before  age2_before  ln_wage_before  wage_before  \
0            NaN         NaN          NaN             NaN          NaN
1            NaN         NaN          NaN             NaN          NaN
2            NaN         NaN          NaN             NaN          NaN
3            NaN         NaN          NaN             NaN          NaN
4            NaN         NaN          NaN             NaN          NaN
5            NaN         NaN          NaN             NaN          NaN
6            NaN         NaN          NaN             NaN          NaN
7            NaN         NaN          NaN             NaN          NaN
8            NaN         NaN          NaN             NaN          NaN
9            NaN         NaN          NaN             NaN          NaN
10           NaN         NaN          NaN             NaN          NaN
11           NaN         NaN          NaN             NaN          NaN
12           NaN         NaN          NaN             NaN          NaN
13           NaN         NaN          NaN             NaN          NaN
14           NaN         NaN          NaN             NaN          NaN
15           NaN         NaN          NaN             NaN          NaN
16           NaN         NaN          NaN             NaN          NaN
17           NaN         NaN          NaN             NaN          NaN
18           NaN         NaN          NaN             NaN          NaN
19           NaN         NaN          NaN             NaN          NaN
20           NaN         NaN          NaN             NaN          NaN
21           NaN         NaN          NaN             NaN          NaN
22           NaN         NaN          NaN             NaN          NaN
23           NaN         NaN          NaN             NaN          NaN
24           NaN         NaN          NaN             NaN          NaN
25           NaN         NaN          NaN             NaN          NaN
26           NaN         NaN          NaN             NaN          NaN
27           NaN         NaN          NaN             NaN          NaN
28           NaN         NaN          NaN             NaN          NaN
29           NaN         NaN          NaN             NaN          NaN

    hyp_pk_app_year
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18              NaN
19              2.0
20              1.0
21              NaN
22              NaN
23              3.0
24              2.0
25              NaN
26              NaN
27              4.0
28              2.0
29              NaN

[30 rows x 33 columns]

In [8]:
# Save dataset
sakernas.to_csv('032525_sakernas_hyp_app_year.csv', index=False)